<a href="https://colab.research.google.com/github/ByoungChan-Park/Create_velog_contents/blob/main/EDA_to_Lookup.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('/content/tips_na.csv')

In [ ]:
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

In [ ]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01   3.5    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [ ]:
df.tail()

     total_bill   tip     sex smoker   day    time  size
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18     2  Female    Yes   Sat  Dinner     2
241       22.67     2    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78     3  Female     No  Thur  Dinner     2

In [ ]:
df.shape

(244, 7)

In [ ]:
df.dtypes

total_bill    float64
tip            object
sex            object
smoker         object
day            object
time           object
size            int64
dtype: object

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  235 non-null    float64
 1   tip         229 non-null    object
 2   sex         244 non-null    object
 3   smoker      238 non-null    object
 4   day         244 non-null    object
 5   time        244 non-null    object
 6   size        244 non-null    int64
dtypes: float64(1), int64(1), object(5)
memory usage: 13.5+ KB

In [ ]:
df.tail()

     total_bill   tip     sex smoker   day    time  size
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18     2  Female    Yes   Sat  Dinner     2
241       22.67     2    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78     3  Female     No  Thur  Dinner     2

In [ ]:
df.count()

total_bill    235
tip           229
sex           244
smoker        238
day           244
time          244
size          244
dtype: int64

In [ ]:
df.smoker.value_counts()

No     145
Yes     93
Name: smoker, dtype: int64

In [ ]:
df.mean()

total_bill    19.966894
size           2.569672
dtype: float64

In [ ]:
df.median()

total_bill    17.82
size           2.00
dtype: float64

In [ ]:
df.max()

total_bill    50.81
sex            Male
day            Thur
time          Lunch
size              6
dtype: object

In [ ]:
df.min()

total_bill      5.75
sex           Female
day              Fri
time          Dinner
size               1
dtype: object

In [ ]:
df.std()

total_bill    8.967537
size          0.951100
dtype: float64

In [ ]:
df.var()

total_bill    80.416715
size           0.904591
dtype: float64