<a href="https://colab.research.google.com/github/ByoungChan-Park/Create_velog_contents/blob/main/to_velog.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [42]:
import pandas as pd

In [43]:
df = pd.read_csv('/content/drive/MyDrive/AI_09_박병찬/auto-mpg_na.csv', header=None)
df.columns= ['mpg','cylinders','displacement','horsepower','weight', 'acceleration','model year','origin','name']

In [59]:
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

In [44]:
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,name
0,18.0,8.0,307.0,130,3504,12.0,70.0,1,chevrolet chevelle malibu
1,15.0,8.0,350.0,165,3693,11.5,70.0,1,buick skylark 320
2,18.0,8.0,318.0,150,3436,11.0,70.0,1,plymouth satellite
3,16.0,8.0,304.0,150,3433,12.0,70.0,1,amc rebel sst
4,17.0,8.0,302.0,140,3449,10.5,70.0,1,ford torino

In [45]:
df.tail()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,name
393,27.0,4.0,140.0,86,2790,15.6,82.0,1,ford mustang gl
394,44.0,4.0,97.0,52,2130,24.6,82.0,2,vw pickup
395,32.0,4.0,135.0,84,2295,11.6,82.0,1,dodge rampage
396,28.0,4.0,120.0,79,2625,18.6,82.0,1,ford ranger
397,31.0,4.0,119.0,82,2720,19.4,82.0,1,chevy s-10

In [46]:
df.shape

(398, 9)

In [51]:
df.dtypes

mpg             float64
cylinders       float64
displacement    float64
horsepower       object
weight            int64
acceleration    float64
model year      float64
origin            int64
name             object
dtype: object

In [48]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     332 non-null    float64
 2   displacement  398 non-null    float64
 3   horsepower    380 non-null    object
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model year    375 non-null    float64
 7   origin        398 non-null    int64
 8   name          398 non-null    object
dtypes: float64(5), int64(2), object(2)
memory usage: 28.1+ KB

In [49]:
df.tail()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,name
393,27.0,4.0,140.0,86,2790,15.6,82.0,1,ford mustang gl
394,44.0,4.0,97.0,52,2130,24.6,82.0,2,vw pickup
395,32.0,4.0,135.0,84,2295,11.6,82.0,1,dodge rampage
396,28.0,4.0,120.0,79,2625,18.6,82.0,1,ford ranger
397,31.0,4.0,119.0,82,2720,19.4,82.0,1,chevy s-10

In [52]:
df.count()

mpg             398
cylinders       332
displacement    398
horsepower      380
weight          398
acceleration    398
model year      375
origin          398
name            398
dtype: int64

In [54]:
df.cylinders.value_counts()

4.0    176
8.0     78
6.0     72
3.0      3
5.0      3
Name: cylinders, dtype: int64

In [60]:
df.mean()

mpg               23.514573
cylinders          5.373494
displacement     193.425879
weight          2970.424623
acceleration      15.568090
model year        76.032000
origin             1.572864
dtype: float64

In [61]:
df.median()

mpg               23.0
cylinders          4.0
displacement     148.5
weight          2803.5
acceleration      15.5
model year        76.0
origin             1.0
dtype: float64

In [62]:
df.max()

mpg                         46.6
cylinders                    8.0
displacement               455.0
weight                      5140
acceleration                24.8
model year                  82.0
origin                         3
name            vw rabbit custom
dtype: object

In [63]:
df.min()

mpg                                 9.0
cylinders                           3.0
displacement                       68.0
weight                             1613
acceleration                        8.0
model year                         70.0
origin                                1
name            amc ambassador brougham
dtype: object

In [64]:
df.std()

mpg               7.815984
cylinders         1.663257
displacement    104.269838
weight          846.841774
acceleration      2.757689
model year        3.806698
origin            0.802055
dtype: float64

In [66]:
df.var()

mpg                 61.089611
cylinders            2.766425
displacement     10872.199152
weight          717140.990526
acceleration         7.604848
model year          14.490952
origin               0.643292
dtype: float64